

.descriptionBlock {
  display: flex;
  flex-direction: column;
}

.courseImage {
  margin-bottom: 60px;
}

.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 110%; 
  letter-spacing: 0;
  margin-bottom: 40px;
}

.suggestionsBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 60px;
}

.suggestionOne {
  border-radius: 28px;
  opacity: 1;
  padding: 20px;
  background: linear-gradient(115.81deg, #151720 34.98%, #1e212e 91.5%);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 369px;
gap: 25px;

}
.suggestionTwo {
  border-radius: 28px;
  opacity: 1;
  padding: 20px;
  background: linear-gradient(115.81deg, #151720 34.98%, #1e212e 91.5%);
  display: flex;
  flex-direction: row;
  align-items: center;
width:  431px;
gap: 25px;
}
.suggestionThree {
  border-radius: 28px;
  opacity: 1;
  padding: 20px;
  background: linear-gradient(115.81deg, #151720 34.98%, #1e212e 91.5%);
  display: flex;
  flex-direction: row;
  align-items: center;
 width:  327px;
gap: 25px;
}

.suggestionNumber {
  font-weight: 500;
  font-size: 75px;
  line-height: 135%;
  color: rgba(188, 236, 48, 1);
}

.suggestionText {
  font-weight: 400;
  font-size: 24px;
  line-height: 110%;
  width: 268px;
  color: white;
}

.suggestiontextTwo{
  font-weight: 400;
  font-size: 24px;
  line-height: 110%;
  width: 323px;
  color: white;
}

.directionsBlock {
  display: flex;
  flex-direction: column;
}

.directions {
  background: rgba(188, 236, 48, 1);
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footerCourseDiscription {
  position: relative;
  width: 1160px;
height: 486px;
  margin-top: 44px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 align-items: center;
  background: rgba(255, 255, 255, 1);
  border-radius: 30px;
  box-shadow: 0 4px 67px -12px rgba(0, 0, 0, 0.13);
   z-index: 1;
   padding: 40px;
}

.footerContent {
  display: flex;
  flex-direction: column;
 width: 437px;
height: 406px;
top: 1207px;
left: 180px;
gap: 28px;

}

.footerTitle {
font-weight: 500;
font-size: 60px;
line-height: 100%;
letter-spacing: 0px;
vertical-align: middle;
width: 398px;

}

.footerList {
  color: rgba(0, 0, 0, 1);
font-weight: 400;
font-size: 24px;
line-height: 110.00000000000001%;
letter-spacing: 0px;
vertical-align: middle;
opacity: 0.6;
    display: flex;
    flex-direction: column;
    gap: 12px;
     margin-left: 36px; 
}


.footerImage {
  position: absolute; 
  left: 50%; 
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.loginButton{
opacity: 1;
border-radius: 46px;
border-color: #BCEC30;
padding-top: 16px;
padding-right: 26px;
padding-bottom: 16px;
padding-left: 26px; 
background: #BCEC30; 
font-weight: 400;
font-size: 18px;
line-height: 110.00000000000001%;
letter-spacing: 0px;
text-align: center;
cursor: pointer;
  border-style: none;
width: 437px;
z-index: 15;
}




.maskImageWrapper {
  position: absolute;
  top: -110px;
    left: 24px;
  z-index: 3;
  display: flex;
  justify-content: center; 
}


.masklineImageWrapper {
position: absolute;
    top: -6px;
    z-index: 1;
    display: flex
;
    justify-content: center;
    align-items: center;
    right: 0px;
}

.footerImage .maskImageWrapper img {
  position: absolute; 
  width: 100%; 
  height: 100%; 
  object-fit: cover;
}

.footerImage .masklineImageWrapper img {
  position: static; 
  width: 100%;
  height: 100%;
  object-fit: cover;
}